@{
    ViewData["Title"] = "Home Page";
}
@* @{
    Layout = "_Admin";
} *@

<div class="text-center">
    <h1 class="display-4">Welcome to Dot Net Store</h1>
    <p>We're learning ASP.Net Core MVC in Fall 2023 at Georgian College</p>
</div>
